/vendor
/node_modules
.env
.env_prod
.env.production
.env_*.key
.claude
deploy.py

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/public/build
/public/hot
/public/storage

*.sqlite
*.sqlite3

.phpactor.json
phpunit.xml
_ide_helper*.php